.room-allocate-section h1 {
  text-align: center;
  margin-top: 40px;
}

#previous-page-btn {
  margin: 50px 30px 50px 100px;
}

.room-allocate-section-form {
  border: 1px solid #410303;
  border-radius: 9px;
  width: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.room-allocate-section-form form {
  padding: 40px 0 0;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  /* position: relative;
  left: 10px; */
}

.room-allocate-section-form label {
  width: fit-content;
}

.room-allocate-section-form input {
  padding: 2px 10px;
  margin-left: 7px;
  width: inherit;
  height: 25px;
}

#form-submit-btn {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.room-allocate-section-form button {
  min-width: 400px;
}

#next-page-btn {
  display: flex;
  justify-content: flex-end;
  margin: 50px 100px 50px 30px;
}
/* 
.room-allocate-section button:hover {
  background-color: #d9d9d9;
} */
