.room-allocate-section h1 {
  text-align: center;
  margin-top: 20px;
}

#previous-page-btn {
  margin: 30px 30px 30px 80px;
}


#next-page-btn {
  display: flex;
  justify-content: flex-end;
  margin: 50px 100px 50px 30px;
}
