.billing-section {
  padding: 20px;
}

.billing-section h1 {
  text-align: center;
}

#billing-section__form {
  padding-inline: 100px;
}

.item-container {
  display: flex;
  justify-content: space-between;
}