:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

/* Button Styles */
.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #efefef;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn:hover {
  border-color: #1a1a1a;
  background-color: #efefef;
  color: #1a1a1a;
}
.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Table Styles */
.table-container {
  margin-top: 50px;
  margin-inline: auto;
  color: #e6e6e6;
  max-width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #323232;
  border-radius: 10px;
}

th,
td {
  padding: 1rem;
}

th {
  text-align: left;
  background: hsl(0 0% 0% / 0.4);
}

th:first-child {
  border-radius: 10px 0 0 0;
}

th:last-child {
  border-radius: 0 10px 0 0;
}

tr:nth-of-type(2n) {
  background: hsl(0 0% 0% / 0.1);
}

tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}
